html {
  display: table;
  margin: auto;
}

body {
  background: rgb(0, 6, 92);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  display: table-cell;
  text-align: center;
}

.Info {
  background: rgba(255, 255, 255, 0.089);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  width: auto;      
  margin: auto;
  display: table;
  border: 1px transparent;
  border-spacing: 5px;
}

.row {
  display: table-row;
  width: auto;
  clear: both;
}
.cell {
  float: left; 
  display: table-column;            
}