html {
  display: table;
  margin: auto;
}

body {
  background: rgb(0, 6, 92);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.welcome{
  display: table;
  position:relative; 
  top: 75; 
}

.Back{
  position:absolute; 
  top: 15; 
  left: 15;
}

.Title{
  position:relative; 
  top: 75; 
}

.Info {
  background: rgba(255, 255, 255, 0.089);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  width: 450px;      
  margin: auto;
  display: table;
  vertical-align: middle;
  border: 1px transparent;
  border-spacing: 20px;
  border-radius: 25px;
}

.row {
  display: table-row;
  vertical-align: middle;
}
.cell {
  float: left;
  text-align: center;
  display: table-column;
}
.cellr {
  float: right;
  text-align: center;
  display: table-column;
}

.img{
  width: 40%;
  height: 40%;
  border-radius: 25px;
  float: right;
}

a{
  border-radius: 25px;
}

a:link, a:visited {
  background-color: #ff1100;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: red;
  background-color: white;
}