html {
  display: table;
  margin: auto;
}

body {
  background: rgb(0, 6, 92);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.welcome{
  display: table;
  
}

.Info {
  background: rgba(255, 255, 255, 0.089);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  width: auto;      
  margin: auto;
  display: table;
  border: 1px transparent;
  border-spacing: 20px;
}

.row {
  display: table-row;
}
.cell {
  float: left;
  text-align: center;
  display: table-column;
}
.cellr {
  float: right;
  text-align: center;
  display: table-column;
}

.img{
  width: 25%;
  height: 25%;
}

a{
  border-radius: 25px;
}

a:link, a:visited {
  background-color: #ff1100;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: red;
  background-color: white;
}